/* Grundlayout */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #111;
  color: white;
  text-align: center;
  padding: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

/* Farbbox oben */
.box {
  background: #5dc0ee;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  margin: 20px auto;
}

.box.active {
  background: #cf2e9a;
}

/* normaler Button */
#action-btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 15px;
  border: none;
}

/* Name + Sterne-Box */
.input-box {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.input-box input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  width: 200px;
}

/* Kontaktformular */
.email-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 25px;
  border-radius: 15px;
  width: 385px;
  justify-content: center;
  margin-top: 50px;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.05);
}

.email-field input,
.email-field textarea {
  width: 100%;
  border-radius: 8px;
  border: none;
  padding: 8px;
}

/* Überschrift 2 */
h2 {
  margin-bottom: 30px;
  font-size: 2.4rem;
}

/* Zutaten-Rechner */
.rechner {
  margin-top: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgb(0, 0, 0, 0.6);
  width: 300px;
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

/* Ergebnis-Kasten */
.kasten {
  margin-top: 15px;
  text-align: left;
}

/* extra Klasse für Flammen-Effekt am Button */
.burning {
  animation: burn 0.4s infinite alternate;
}

/* simple Flammen-Animation */
@keyframes burn {
  from {
    box-shadow: 0 0 5px #ff8800, 0 0 15px #ff0000;
  }
  to {
    box-shadow: 0 0 10px #ffdd0c, 0 0 25px #ff5500;
  }
}
